<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabilheri.pawsalert">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Broadcast Receivers permission -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Permission to check if there is internet available or not -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".PawsApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Paws">

        <activity android:name=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.add.AddPetActivity" />

        <activity android:name=".ui.details.ActivityDetails">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>b
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:pathPattern="/.*" />
                <data android:host="www.stillwaterpaws.com"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.sign_in.SignInActivity" />

        <activity android:name=".ui.sign_in.SignUpActivity" />

        <activity android:name=".ui.shelter.ActivityShelters" />

        <activity android:name=".ui.shelter.ActivityAddShelter" />

        <activity android:name=".ui.shelter.ActivityShelterDetails" />

        <activity android:name=".ui.shelter.ActivityShelterAnimals" />

        <activity android:name=".ui.success.ActivitySuccessStory" />

        <activity android:name=".ui.success.ActivityAddSuccessStory" />

        <activity android:name=".ui.success.ActivitySuccessDetail" />

        <activity android:name=".ui.notification.ActivityNotificationPetList" />

        <activity android:name=".ui.settings.SettingsActivity" />

        <activity android:name=".ui.profile.UserProfileActivity">
            <intent-filter>
                <action android:name="com.gabilheri.pawsalert.action.Account"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.other.AboutActivity">
            <intent-filter>
                <action android:name="com.gabilheri.pawsalert.action.About"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.other.OpenSourceLicensesActivity">
            <intent-filter>
                <action android:name="com.gabilheri.pawsalert.action.OpenSource"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.details.ActivityPictures"
            android:theme="@style/Theme.Paws.Black"
            />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBC0RDlSjm2O4P_kFUEzLPp3cQz2LKdM7s"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".data.GeofenceReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>

        <service android:name=".data.ServiceUpdateGeofences" />

        <receiver
            android:name=".data.GeofencesAlarm"
            android:label="Canopeo Sync">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".data.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
