<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabilheri.pawsalert">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permission to check if there is internet available or not -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".PawsApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paws">

        <activity android:name=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.add.AddPetActivity" />

        <activity android:name=".ui.details.ActivityDetails" />

        <activity android:name=".ui.sign_in.SignInActivity" />

        <activity android:name=".ui.sign_in.SignUpActivity" />

        <activity android:name=".ui.shelter.ActivityShelters" />

        <activity android:name=".ui.shelter.ActivityAddShelter" />

        <activity android:name=".ui.shelter.ActivityShelterDetails" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBC0RDlSjm2O4P_kFUEzLPp3cQz2LKdM7s"/>


    </application>

</manifest>
